<h3>Thanks for visiting</h3>



<h4>Venu Name :  {{selectedVenu.name}}</h4>

    <div class="form-group">
        <label for="Kindly rate us">Confirm Password:</label>
        <input type="number" maxlength="10" minlength="1" class="form-control" id="confirmPwd" ng-model="selectedVenu.marks">
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default" ng-click="submit('venue')">Submit</button>